In [12]:
import pandas as pd

In [13]:
matches = pd.read_csv('premier-league-matches.csv')
matches2024 = pd.read_csv('matches.csv')

In [14]:
matches.head()

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,15/08/1992,Coventry City,2,1,Middlesbrough,H
1,1993,1,15/08/1992,Leeds United,2,1,Wimbledon,H
2,1993,1,15/08/1992,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,15/08/1992,Crystal Palace,3,3,Blackburn,D
4,1993,1,15/08/1992,Arsenal,2,4,Norwich City,A

In [15]:
matches2024.head()

,Unnamed: 0,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,...,Match Report,Notes,Sh,SoT,Dist,FK,PK,PKatt,Season,Team
0,1,2023-08-11,20:00,Premier League,Matchweek 1,Fri,Away,W,3,0,...,Match Report,NaN,17.0,8.0,13.9,0.0,0,0,2024,ManchesterCity
1,3,2023-08-19,20:00,Premier League,Matchweek 2,Sat,Home,W,1,0,...,Match Report,NaN,14.0,4.0,17.9,0.0,0,0,2024,ManchesterCity
2,4,2023-08-27,14:00,Premier League,Matchweek 3,Sun,Away,W,2,1,...,Match Report,NaN,29.0,9.0,17.3,2.0,0,1,2024,ManchesterCity
3,5,2023-09-02,15:00,Premier League,Matchweek 4,Sat,Home,W,5,1,...,Match Report,NaN,6.0,4.0,14.8,0.0,1,1,2024,ManchesterCity
4,6,2023-09-16,15:00,Premier League,Matchweek 5,Sat,Away,W,3,1,...,Match Report,NaN,29.0,13.0,16.4,1.0,0,0,2024,ManchesterCity

In [16]:
matches2024 = matches2024[matches2024['Venue'] != 'Away']
matches2024 = matches2024.sort_values(by='Round')
new_rows = []
for match in matches2024.iterrows():
    result = "D"
    if match[1]['Result'] == 'W':
        result = "H"
    elif match[1]['Result'] == 'L':
        result = "A"
    round = match[1]['Round'].replace("Matchweek ", "")
    date = match[1]['Date'].replace("-", "/")
    new_rows.append(['2024', round, date, match[1]['Team'], match[1]['GF'], match[1]['GA'], match[1]['Opponent'], result])

new_rows_df = pd.DataFrame(new_rows, columns=['Season_End_Year', 'Wk', 'Date', 'Home', 'HomeGoals', 'AwayGoals', 'Away', 'FTR'])
matches = pd.concat([matches, new_rows_df], ignore_index=True)

In [24]:
matches['Wk'] = matches['Wk'].astype(int)
matches = matches.sort_values(by=['Season_End_Year', 'Wk'])
matches.to_csv('clean-matches.csv', index=False)